In [1]:
import pandas as pd

In [2]:
df_laptops =  pd.read_csv('laptop_price.csv', encoding = 'latin-1')

In [3]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

# Unique()

* Return unique values of series object and (Uniques are returned in order of appearance).

In [4]:
# get unique elements in the company column
df_laptops['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [5]:
# get unique elements in the inches column
df_laptops['Inches'].unique()

array([13.3, 15.6, 15.4, 14. , 12. , 11.6, 17.3, 10.1, 13.5, 12.5, 13. ,
       18.4, 13.9, 12.3, 17. , 15. , 14.1, 11.3])

In [6]:
len(df_laptops['Inches'].unique())

18

# nunique()

* Return number of unique elements in the object (Excludes NA value by default)

In [7]:
df_laptops['Company'].nunique()

19

In [8]:
df_laptops['Inches'].nunique()

18

## Difference between Unique and nunique method:

| Function    | What it Returns                                       | Output Type    |
| ----------- | ----------------------------------------------------- | -------------- |
| `unique()`  | An array of all **distinct values** in a Series       | `np.ndarray`   |
| `nunique()` | The **number** (count) of distinct values in a Series | `int` (number) |